<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DocumentFormat.OpenXml" version="2.7.2" targetFramework="net45" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net45" />
  <package id="iTextSharp" version="5.5.11" targetFramework="net45" />
  <package id="MediaTypeMap" version="2.1.0.0" targetFramework="net45" />
  <package id="MSGReader" version="2.0.13" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net45" />
  <package id="PDFsharp" version="1.50.4589-beta4" targetFramework="net45" />
  <package id="PDFsharp-MigraDoc" version="1.50.4589-beta4" targetFramework="net45" />
  <package id="Pri.LongPath" version="2.0.45" targetFramework="net45" />
  <package id="RtfDomParser" version="1.0.0" targetFramework="net45" />
  <package id="SimpleImpersonation" version="2.0.1" targetFramework="net45" />
</packages>